<div class="milestones">
    <div class="container">
        <div class="row">

            <!-- Milestone -->
            <div class="col-xl-3 col-md-6 milestone_col">
                <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                    <div class="milestone_content">
                        <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img src="images/duplex.svg" alt=""></div>
                        <div class="milestone_counter" data-end-value="425">0</div>
                        <div class="milestone_text">homes sold</div>
                    </div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-xl-3 col-md-6 milestone_col">
                <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                    <div class="milestone_content">
                        <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img src="images/prize.svg" alt=""></div>
                        <div class="milestone_counter" data-end-value="18">0</div>
                        <div class="milestone_text">awards</div>
                    </div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-xl-3 col-md-6 milestone_col">
                <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                    <div class="milestone_content">
                        <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img src="images/home.svg" alt=""></div>
                        <div class="milestone_counter" data-end-value="25" data-sign-after="k">0</div>
                        <div class="milestone_text">followers</div>
                    </div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-xl-3 col-md-6 milestone_col">
                <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                    <div class="milestone_content">
                        <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img src="images/rent.svg" alt=""></div>
                        <div class="milestone_counter" data-end-value="1265">0</div>
                        <div class="milestone_text">rentals</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>