<div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">

        <!-- Slide -->
        <div class="slide">
            <div class="background_image" style="background-image:url(../images/index.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"><h1>1243 Main Avenue Left Town</h1></div>
                                <div class="home_price_tag">$ 482 900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide -->
        <div class="slide">
            <div class="background_image" style="background-image:url(../images/index.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"><h1>1243 Main Avenue Left Town</h1></div>
                                <div class="home_price_tag">$ 482 900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide -->
        <div class="slide">
            <div class="background_image" style="background-image:url(../images/index.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"><h1>1243 Main Avenue Left Town</h1></div>
                                <div class="home_price_tag">$ 482 900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Home Slider Navigation -->
    <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

</div>