<div class="hot">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">the best deals</div>
                    <div class="section_title"><h1>Today's Hot Deal</h1></div>
                </div>
            </div>
        </div>
        <div class="row hot_row row-eq-height">

            <!-- Hot Deal Image -->
            <div class="col-lg-6">
                <div class="hot_image">
                    <div class="background_image" style="background-image:url(images/hot.jpg)"></div>
                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                        <div class="tag tag_house"><a href="~/home/listings">house</a></div>
                        <div class="tag tag_sale"><a href="~/home/listings">for sale</a></div>
                    </div>
                </div>
            </div>

            <!-- Hot Deal Content -->
            <div class="col-lg-6">
                <div class="hot_content">
                    <div class="hot_deal">
                        <div class="tag_price">$ 562 346</div>
                        <div class="hot_title"><a href="#">Villa for sale</a></div>
                        <div class="prop_location d-flex flex-row align-items-start justify-content-start">
                            <img src="~/images/icon_1.png" alt="">
                            <span>280 Doe Meadow Drive Landover, MD 20785</span>
                        </div>
                        <div class="prop_text">
                            <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                        </div>
                        <div class="prop_agent d-flex flex-row align-items-center justify-content-start">
                            <div class="prop_agent_image"><img src="~/images/agent_1.jpg" alt=""></div>
                            <div class="prop_agent_name"><a href="#">Maria Smith,</a> Agent</div>
                        </div>
                    </div>
                    <div class="prop_info">
                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/icon_2_large.png" alt="">
                                <div>
                                    <div>1234</div>
                                    <div>sq ft</div>
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/icon_3_large.png" alt="">
                                <div>
                                    <div>2</div>
                                    <div>baths</div>
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/icon_4_large.png" alt="">
                                <div>
                                    <div>5</div>
                                    <div>beds</div>
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/icon_5_large.png" alt="">
                                <div>
                                    <div>2</div>
                                    <div>garages</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>