<div class="sorting d-flex flex-md-row flex-column align-items-start justify-content-start">

    <!-- Tags -->
    <div class="listing_tags">
        <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
            <li><a href="#">2 beds<span>x</span></a></li>
            <li><a href="#">2 baths<span>x</span></a></li>
            <li><a href="#">garage<span>x</span></a></li>
            <li><a href="#">swimming pool<span>x</span></a></li>
            <li><a href="#">patio<span>x</span></a></li>
            <li><a href="#">heated floors<span>x</span></a></li>
            <li><a href="#">garden<span>x</span></a></li>
        </ul>
    </div>

    <!-- Sort -->
    <div class="sorting_container">
        <div class="sort">
            <span>Sort By</span>
            <ul>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Default</li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "price" }'>Price</li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "area" }'>Area</li>
            </ul>
        </div>
    </div>

</div>