
    <div class="map_section container_reset">
        <div class="container">
            <div class="row row-xl-eq-height">

                <!-- Map -->
                <div class="col-xl-7 order-xl-1 order-2">
                    <div class="map">
                        <div id="google_map" class="google_map">
                            <div class="map_container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div class="col-xl-5 order-xl-2 order-1">
                    <div class="map_section_content">
                        <div class="map_overlay">
                            <svg fill="#55407d" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                                <path d="M100,0 a-200,150 0 0 0 -100,100 h100 v-100 z" />
                            </svg>
                        </div>
                        <div class="section_title_container">
                            <div class="section_subtitle">the best deals</div>
                            <div class="section_title"><h1>Choose a location</h1></div>
                        </div>
                        <div class="locations_list d-flex flex-column align-items-start justify-content-start">
                            <label class="location_contaner" data-lat="25.794923" data-lng="-80.133661">
                                <input type="radio" name="location_radio">
                                <span></span>
                                Downtown Miami
                            </label>
                            <label class="location_contaner" data-lat="41.872883" data-lng="-87.660943">
                                <input type="radio" name="location_radio">
                                <span></span>
                                Chicago
                            </label>
                            <label class="location_contaner" data-lat="40.779528" data-lng="-73.960561">
                                <input type="radio" name="location_radio" checked>
                                <span></span>
                                Manhattan - New York
                            </label>
                            <label class="location_contaner" data-lat="34.082539" data-lng="-118.380126">
                                <input type="radio" name="location_radio">
                                <span></span>
                                West Hollywood
                            </label>
                            <label class="location_contaner" data-lat="38.910263" data-lng="-77.020496">
                                <input type="radio" name="location_radio">
                                <span></span>
                                Washington
                            </label>
                            <label class="location_contaner" data-lat="39.296713" data-lng="-76.634918">
                                <input type="radio" name="location_radio">
                                <span></span>
                                Maryland
                            </label>
                            <label class="location_contaner" data-lat="37.806964" data-lng="-122.411291">
                                <input type="radio" name="location_radio">
                                <span></span>
                                San Francisco
                            </label>
                            <label class="location_contaner" data-lat="33.627738" data-lng="-117.909449">
                                <input type="radio" name="location_radio">
                                <span></span>
                                Orange County
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>