<div class="menu text-right">
    <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="menu_log_reg">
        <div class="log_reg d-flex flex-row align-items-center justify-content-end">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="~/Account/Login">Login</a></li>
                <li><a href="~/Account/UserRegister">Register</a></li>
            </ul>
        </div>
        <nav class="menu_nav">
            <ul>
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About us</a></li>
                <li><a href="~/Home/Listings">Listings</a></li>
                <li><a href="~/Home/Blog">News</a></li>
                <li><a href="~/Home/Contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
