
    <div class="testimonials container_reset">
        <div class="container">
            <div class="row row-eq-height">

                <!-- Testimonials Image -->
                <div class="col-xl-6">
                    <div class="testimonials_image">
                        <div class="background_image" style="background-image:url(images/testimonials.jpg)"></div>
                        <div class="testimonials_image_overlay"></div>
                    </div>
                </div>

                <!-- Testimonials Content -->
                <div class="col-xl-6">
                    <div class="testimonials_content">
                        <div class="section_title_container">
                            <div class="section_subtitle">the best deals</div>
                            <div class="section_title"><h1>Clients testimonials</h1></div>
                        </div>

                        <!-- Testimonials Slider -->
                        <div class="testimonials_slider_container">
                            <div class="owl-carousel owl-theme test_slider">

                                <!-- Slide -->
                                <div class="test_slide">
                                    <div class="test_quote">"They helped us find our home"</div>
                                    <div class="test_text">
                                        <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                                    </div>
                                    <div class="test_author"><a href="#">Cristinne Smith</a>, Client</div>
                                </div>

                                <!-- Slide -->
                                <div class="test_slide">
                                    <div class="test_quote">"They helped us find our home"</div>
                                    <div class="test_text">
                                        <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                                    </div>
                                    <div class="test_author"><a href="#">Cristinne Smith</a>, Client</div>
                                </div>

                                <!-- Slide -->
                                <div class="test_slide">
                                    <div class="test_quote">"They helped us find our home"</div>
                                    <div class="test_text">
                                        <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                                    </div>
                                    <div class="test_author"><a href="#">Cristinne Smith</a>, Client</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
